
.home-hero{
	color: $brand-white;
	text-align: center;
	&.container{
		position: relative;
	}
	&.slide-top-left{
		position: absolute;
		top: 30px;
		left: 0;
	}
	&.slide-top-title{
		font-weight: 100;
		font-size: 20px;
		&:after{
			content: '';
			display: block;
			height: 1px;
			width: 30px;
			margin-top: 15px;
			border-bottom: 2px solid $brand-white;
		}
	}
	&.opening{
		font-weight: 300;
	}
	&.hero-wrap{
		position: relative;
		min-height: 450px;
		background: url(../images/Home-04.jpg) no-repeat center center;
		background-size: cover;
	}
	&.hero-inner{
		padding-top: 200px;
		padding-bottom: 200px;
	}
	&.slide-title{
		text-transform: uppercase;
	}
	&.btn{
		padding: 12px 45px;
		border-radius: 30px;
		font-size: 1em;
		text-transform: uppercase;
	}
}

.home-page-content-top{
	min-height: 200px;
	width: 100%;
	background-color: $brand-gray-light;
}

.relative{
	position: relative;
}
.gray{
	background-color: $brand-gray-light;
}

.section-home{
	min-height: 400px;
}

.spin-my-head-round{
	position: absolute;
	height: auto;
	width: 350px;
	top: -100px;
	left: 15px;
	&.right{
		left: auto;
		right: 15px;
	}
	.right-round{
		position: relative;
		display: block;
		height: auto;
		width: 100%;
		border-radius: 50%;
	}
	.baby.right-round{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		border: 12px solid fade-out($brand-primary, .5);
	}
}

.i-walk-the-line{
	position: absolute;
	top: -10px;
	right: 15px;
	&.left{
		right: auto;
		left: 15px;
	}
}
